* { 
    color: white;
}

html{
    background-image: url(./media/black-wall-brick-wall-background-tile.jpg);
    background-repeat: repeat;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-image: url(./media/fullPlantPlat.svg);
    background-repeat: repeat-x;
    height: 1.5em;
    padding-top: .7em;
    margin-top: -1em;
    margin-bottom: 2em;
    font-size: 3em;
}

h1, h2, nav, .item{ 
    text-align: center;
    font-family:Verdana, sans-serif;
    color:#d1f0db;
    font-weight:bold;
    text-shadow:0px 0px 0 rgb(159,190,169),1px 1px 0 rgb(119,150,129),2px 2px 0 rgb(79,110,89),3px 3px 0 rgb(39,70,49),4px 4px 0 rgb(-1,30,9),5px 5px 0 rgb(-41,-10,-31), 6px 6px 0 rgb(-81,-50,-71),7px 7px 6px rgba(0,0,0,0.85),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}
h1{
    font-size: 6em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1em;
}
h4{
    font-size: 1.5em;
    padding-top: 2.2em;
    padding-left: 6em;
    padding-right: 6em;
}

footer{
    margin: 1em;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Potion Bottles*/
.item{
    background-image: url(./media/potion.svg);
    background-repeat: no-repeat;
    color: ;
    align-items: center;
    display: flex;
    font-size: 1.3em;
    height: 20em;
    justify-content: center;
    margin: -.8em;
    width: 20em;
}


/* Link Colors*/
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: currentColor;
}

@media (min-width: 0){
    h4{
        color: blue;
    }
}
@media (min-width: 481px){

    nav{
        height: 2.5em;
        padding-top: 2em;
        margin-top: -1.3em;
        font-size: 1.5em;
    }
    h1{
        font-size: 4em;
    }
    h4{
        font-size: 1.15em;
        padding-top: 1.8em;
        padding-left: 6.2em;
        padding-right: 5.8em;
        color: black;
        text-shadow:0px 0px 0 rgb(159,190,169),1px 1px 0 rgb(119,150,129),2px 2px 0 rgb(79,110,89),3px 3px 0 rgb(76, 95, 82),4px 4px 0 rgb(155, 186, 162),5px 5px 0 rgb(177, 208, 190), 6px 6px 0 rgb(195, 220, 206),7px 7px 6px rgb(215, 235, 224),7px 7px 1px rgb(227, 234, 230),0px 0px 6px white;
    }
    .item{
        margin: -1em;
        font-size: 1.1em;
    }
}
