* { 
    color: white;
}

html{
    background-image: url(./media/black-wall-brick-wall-background-tile.jpg);
    background-repeat: repeat;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-image: url(./media/fullPlantPlat.svg);
    background-repeat: repeat-x;
    height: 1.5em;
    padding-top: .7em;
    margin-top: -1em;
    margin-bottom: 2em;
    font-size: 3em;
    width: 100%;
}

h1, h2, h3, h5, nav, .item{ 
    text-align: center;
    font-family:Verdana, sans-serif;
    color:#d1f0db;
    font-weight:bold;
    text-shadow:0px 0px 0 rgb(159,190,169),1px 1px 0 rgb(119,150,129),2px 2px 0 rgb(79,110,89),3px 3px 0 rgb(39,70,49),4px 4px 0 rgb(-1,30,9),5px 5px 0 rgb(-41,-10,-31), 6px 6px 0 rgb(-81,-50,-71),7px 7px 6px rgba(0,0,0,0.85),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

h2{
    font-size: 3em;
}
h3{
    font-size: 2em;
    padding-top: 1em;
}
h4{
    font-size: 1.5em;
    padding-top: 2.2em;
    padding-left: 6em;
    padding-right: 6em;
}
h5{
    font-size: 1.5em;
}
p{
    padding-left: 2.5%;
}

footer{
    background-image: url(./media/fullPlantPlat.svg);
    background-repeat: repeat-x;
    font-size: 1.7em;
    text-align: center;
    color: white;
    text-shadow:0px 0px 0 rgb(159,190,169),1px 1px 0 rgb(119,150,129),2px 2px 0 rgb(79,110,89),3px 3px 0 rgb(39,70,49),4px 4px 0 rgb(-1,30,9),5px 5px 0 rgb(-41,-10,-31), 6px 6px 0 rgb(-81,-50,-71),7px 7px 6px rgba(0,0,0,0.85),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
    margin-top: 1em;
    padding-bottom: -10em;
    padding-top: 5em;
    width: 100%;
    height: 4.5em;
}

/* Download Button*/
button{
    background-color:rgb(240, 187, 234);
    color: black;
    font-family:Verdana, sans-serif;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 1.5em;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Potion Bottles */
.item{
    background-image: url(./media/potion.svg);
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    font-size: 1.3em;
    height: 20em;
    justify-content: center;
    margin: -.8em;
    width: 20em;
}
/* Projects & Education */
.project{
    background-image: url(./media/bigPlatform.svg);
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    font-size: 1.3em;
    height: 20em;
    justify-content: center;
    margin-top: -2em;
    margin-bottom: -2em;
    width: 20em;
}

/* Resume & Contact Form Back*/
.back{
    background-image: url(./media/purple_bricks.jpg);
    background-image: repeat;
    width: 100%;
    height: 100%;
    margin-bottom: 3em;
}

/* Resume Styles*/
.resume{
    background-color: rgba(240, 187, 234, 0.9);
    width: 98%;
    margin: 1%;
}

/* Form Styles*/
input[type=text], input[type=email], input[type=tel], textarea{
    color: black;
    font-family:Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
input[type=submit], input[type=reset]{
    color: black;
    font-family:Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.25em;
}
input[type=submit]{
    margin-left: 15%;
    width: 35%;
}
input[type=reset]{
    width: 35%;
}
label{
    font-family:Verdana, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: 15%;
    
}
form{
    padding-bottom: 2em;
    padding-top: 2em;
}
/* Link Colors*/
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: currentColor;
}

@media (max-width: 480px){

    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.5em;
    }
    .back{
        margin: 1%;
        width: 99%;
    }
    .resume{
        width: 98%;
        margin: 1%;
    }
}
@media (min-width: 480px){

    nav{
        height: 2.5em;
        padding-top: 2em;
        margin-top: -1.3em;
        font-size: 1.5em;
    }
    h1{
        font-size: 4em;
    }
    h4{
        font-size: 1.15em;
        padding-top: 1.8em;
        padding-left: 6.2em;
        padding-right: 5.8em;
        color: black;
        text-shadow:0px 0px 0 rgb(159,190,169),1px 1px 0 rgb(119,150,129),2px 2px 0 rgb(79,110,89),3px 3px 0 rgb(76, 95, 82),4px 4px 0 rgb(155, 186, 162),5px 5px 0 rgb(177, 208, 190), 6px 6px 0 rgb(195, 220, 206),7px 7px 6px rgb(215, 235, 224),7px 7px 1px rgb(227, 234, 230),0px 0px 6px white;
    }
    .item{
        margin: -1em;
        font-size: 1.1em;
    }
    .back{
        margin-left: 1%;
        margin-right: 1%;
        width: 99%;
    }
    .resume{
        width: 98%;
        margin: 1%;
    }
}
@media (min-width: 769px){
    
    /* Resume & Contact Form*/
    .back{
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 100%;

    }
    .resume{
        width: 90%;
        margin: 5%;
    }
}
@media (min-width: 1025px){
        /* Resume & Contact Form*/
        .back{
            margin-left: 7.5%;
            margin-right: 7.5;
            width: 85%;
            height: 100%;

        }
        .resume{
            width: 85%;
            margin: 7.5%;
        }
}