* { 
    color: white;
}

html{
    background-image: url(./media/black-wall-brick-wall-background-tile.jpg);
    background-repeat: repeat;
}

h1, h2, nav{ 
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.item{
    background-image: url(/media/potion.svg);
    height: 10em;
    width: 10em;
}
/* Background a and b styles*/
img{
    height: 20em;
}

footer{
    margin: 1em;
}
.imageGrid{
    margin-left: 10%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 40% 40%;
}
.platformGrid{
    margin-left: 10%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40% 40%;
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: currentColor;
}
